.login{
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-logo{
    margin-top: 30%;
    margin-bottom: 10%;
    object-fit: contain;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.login-form{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}
.login-form > h1{
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10%;
    text-align: center;

}

.login-form >h5{
    margin-bottom: 5px;
}
.login-form >form >input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    
}

.login-form >p {
    margin-top: 15px;
    margin-bottom: 20px;
}

.login-btn{
    background-color:  #f0c14b;
    color: black;
    height: 15%;
    border-radius: 5px;
    border:1px solid;
    width: 100%;
    border-color: #a88734 #9c7e31 #846a29;
}

.login-account{
  
    color: black;
    height: 15%;
    border-radius: 5px;
    border:1px solid;
    width: 100%;
    border-color: #a88734 #9c7e31 #846a29;
}