.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: flex-end;
    margin: 10px;
    
    padding: 50px;
    width: 100%;
    z-index: 1;
    max-height: 400px;
    min-width: 100px;
}

.product >img{
    max-height: 300px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product-rating{
    display: flex;
    color: orange;
    margin-bottom: 15px;
  
}
.product-info{
    height: 100px;
    margin-bottom: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.product >button{
    background-color: orange;
    border: 1px,solid;
    border-color: orange;
    color: #111;
    margin-top: 10px;
    height: 30px;
}

